@mixin md-progress-circular {

  .md-progress-circular {
    width: 50px;
    height: 50px;
    display: block;
    border: none;
    position: relative;
    padding-top: 0 !important;
    margin-bottom: 0 !important;
    //overflow: hidden;
  }
  .myrounded
  {
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    display: table;
    // padding-left: 5px;
    padding-top: 12px;
    // margin-left: -50px;
    @include border-radius(50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    font-size: 12px;
    -khtml-border-radius: 50%;
    border: 5px solid dimgrey;
  //  background-color: red;
  }

  .md-progress-circular .md-inner {
    width: 50px;
    height: 50px;
    position: relative;

  }

  .md-progress-circular .md-inner .md-left ,.md-progress-circular .md-inner .md-right{
    position: absolute;
    top: 0;
    height: 50px;
    width: 25px;
    overflow: hidden;



  }

  .md-progress-circular .md-inner .md-right .md-half-circle  ,.md-progress-circular .md-inner .md-left .md-half-circle
  {
    position: absolute;
    top: 0;
    width: 50px;
    height:50px;
    box-sizing: border-box;
    border-width: 5px;
    border-style: solid;
    border-color: $md-primary-color-700 $md-primary-color-700 transparent;
    border-radius: 50%;
    -web-kit-border-radius: 50%;
  }

  .md-progress-circular .md-inner .md-left {
    left: 0;


  }

  .md-progress-circular .md-inner .md-left .md-half-circle {
    left: 0;
    border-right-color: transparent;


  }

  .md-progress-circular .md-inner .md-right {
    right: 0;

  }

  .md-progress-circular .md-inner .md-right .md-half-circle {
    right: 0;
    border-left-color: transparent;

  }

  .md-progress-circular[md-mode=indeterminate] .md-spinner-wrapper {
    -webkit-animation: outer-rotate 2.91667s  ease-out infinite;
    animation: outer-rotate 2.91667s  ease-out infinite;
  }

  .md-progress-circular[md-mode=indeterminate] .md-spinner-wrapper .md-inner {
    -webkit-animation: sporadic-rotate 5.25s cubic-bezier(0.35, 0, 0.25, 1) infinite;
    animation: sporadic-rotate 5.25s cubic-bezier(0.35, 0, 0.25, 1) infinite;
  }

  .md-progress-circular[md-mode=indeterminate] .md-spinner-wrapper .md-inner .md-left .md-half-circle, .md-progress-circular[md-mode=indeterminate] .md-spinner-wrapper .md-inner .md-right .md-half-circle {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-duration: 1.3125s;
    animation-duration: 1.3125s;
    -webkit-animation-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
    animation-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
  }

  .md-progress-circular[md-mode=indeterminate] .md-spinner-wrapper .md-inner .md-left .md-half-circle {
    -webkit-animation-name: left-wobble;
    animation-name: left-wobble;
  }

  .md-progress-circular[md-mode=indeterminate] .md-spinner-wrapper .md-inner .md-right .md-half-circle {
    -webkit-animation-name: right-wobble;
    animation-name: right-wobble;
  }

  @-webkit-keyframes outer-rotate {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  @keyframes outer-rotate {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  @-webkit-keyframes left-wobble {
    0%, 100% {
      -webkit-transform: rotate(130deg);
      transform: rotate(130deg);
    }

    50% {
      -webkit-transform: rotate(-5deg);
      transform: rotate(-5deg);
    }
  }

  @keyframes left-wobble {
    0%, 100% {
      -webkit-transform: rotate(130deg);
      transform: rotate(130deg);
    }

    50% {
      -webkit-transform: rotate(-5deg);
      transform: rotate(-5deg);
    }
  }

  @-webkit-keyframes right-wobble {
    0%, 100% {
      -webkit-transform: rotate(-130deg);
      transform: rotate(-130deg);
    }

    50% {
      -webkit-transform: rotate(5deg);
      transform: rotate(5deg);
    }
  }

  @keyframes right-wobble {
    0%, 100% {
      -webkit-transform: rotate(-130deg);
      transform: rotate(-130deg);
    }

    50% {
      -webkit-transform: rotate(5deg);
      transform: rotate(5deg);
    }
  }

  @-webkit-keyframes sporadic-rotate {
    12.5% {
      -webkit-transform: rotate(135deg);
      transform: rotate(135deg);
    }

    25% {
      -webkit-transform: rotate(270deg);
      transform: rotate(270deg);
    }

    37.5% {
      -webkit-transform: rotate(405deg);
      transform: rotate(405deg);
    }

    50% {
      -webkit-transform: rotate(540deg);
      transform: rotate(540deg);
    }

    62.5% {
      -webkit-transform: rotate(675deg);
      transform: rotate(675deg);
    }

    75% {
      -webkit-transform: rotate(810deg);
      transform: rotate(810deg);
    }

    87.5% {
      -webkit-transform: rotate(945deg);
      transform: rotate(945deg);
    }

    100% {
      -webkit-transform: rotate(1080deg);
      transform: rotate(1080deg);
    }
  }

  @keyframes sporadic-rotate {
    12.5% {
      -webkit-transform: rotate(135deg);
      transform: rotate(135deg);
    }

    25% {
      -webkit-transform: rotate(270deg);
      transform: rotate(270deg);
    }

    37.5% {
      -webkit-transform: rotate(405deg);
      transform: rotate(405deg);
    }

    50% {
      -webkit-transform: rotate(540deg);
      transform: rotate(540deg);
    }

    62.5% {
      -webkit-transform: rotate(675deg);
      transform: rotate(675deg);
    }

    75% {
      -webkit-transform: rotate(810deg);
      transform: rotate(810deg);
    }

    87.5% {
      -webkit-transform: rotate(945deg);
      transform: rotate(945deg);
    }

    100% {
      -webkit-transform: rotate(1080deg);
      transform: rotate(1080deg);
    }
  }
}
