@mixin md-ripple {
    /*
     * A container inside of a rippling element (eg a button),
     * which contains all of the individual ripples
     */
    .md-ripple-container {
        pointer-events: none;
        position: absolute;
        overflow: hidden;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        @include transition(all 0.55s cubic-bezier(0.25, 0.8, 0.25, 1));
        /*-webkit-transition: all 0.55s cubic-bezier(0.25, 0.8, 0.25, 1);
        transition: all 0.55s cubic-bezier(0.25, 0.8, 0.25, 1);*/
    }

    .md-ripple {
        position: absolute;
        @include transform(scale(0));
        @include transform-origin(50% 50%);
        opacity: 0;
        @include border-radius(50% 50%);
    }

    .md-ripple.md-ripple-placed {
        @include transition(left 0.9s cubic-bezier(0.25, 0.8, 0.25, 1), top 0.9s cubic-bezier(0.25, 0.8, 0.25, 1), margin 0.65s cubic-bezier(0.25, 0.8, 0.25, 1), border 0.65s cubic-bezier(0.25, 0.8, 0.25, 1), width 0.65s cubic-bezier(0.25, 0.8, 0.25, 1), height 0.65s cubic-bezier(0.25, 0.8, 0.25, 1), opacity 0.65s cubic-bezier(0.25, 0.8, 0.25, 1), transform 0.65s cubic-bezier(0.25, 0.8, 0.25, 1));
    }

    .md-ripple.md-ripple-scaled {
        @include transform(scale(1));
    }

    .md-ripple.md-ripple-active, .md-ripple.md-ripple-full, .md-ripple.md-ripple-visible {
        opacity: 0.2;
    }
}
